{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/autocomplete.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
        rel="stylesheet" type="text/css" />
    <style>
        .testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
  display: inline-block;
  float: none;
}

/* Decorations */
.col-sm-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-sm-4:nth-child(3n+1) { background: #c69; }
.col-sm-4:nth-child(3n+2) { background: #9c6; }
.col-sm-4:nth-child(3n+3) { background: #69c; }
        label{
            display: block;
            width: 100%;
        }
        .minWidth{
    min-width: 8rem;
}
td div{
    
    white-space: pre-wrap;
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        width: 15rem !important;
}
td .editmenu{
    width: 18rem !important;
}
td .twiceWidth{

    width: 30rem !important;
}
td .lessWidth{
    width: 8rem !important;
}
.rem-15{
    width: 15rem !important;
}
.Bigger{
    
    white-space: pre-wrap;
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        width: 18rem !important;
}
.bg-gray{
    background-color: #efefef;
}
.h-4rem{
    height: 4rem !important
}
    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="bg-success">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-success bg-success">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">User Story</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="{% url 'users' %}"><span class="text-white fa fa-user mr-3"></span> Users</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'userStories' %}" id="userStory-link"><span class="text-white fa fa-address-book mr-3"></span> UserStories</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'userStoryVersions' %}"><span class="text-white fa fa-address-card mr-3"></span> UserStoriesVersion</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'Projects' %}"><span class="text-white fa fa-address-card mr-3"></span>
                            Projects</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'Business' %}"><span class="text-white fa fa-address-card mr-3"></span>
                            Business</a>
                    </li>
                    <!-- <li>
                        <a href="#"><span class="text-white fa fa-user mr-3"></span> About</a>
                    </li>
                    <li>
                        <a href="#"><span class="text-white fa fa-briefcase mr-3"></span> Works</a>
                    </li>
                    <li>
                        <a href="#"><span class="text-white fa fa-sticky-note mr-3"></span> Blog</a>
                    </li>
                    <li>
                        <a href="#"><span class="text-white fa fa-suitcase mr-3"></span> Gallery</a>
                    </li>
                    <li>
                        <a href="#"><span class="text-white fa fa-cogs mr-3"></span> Services</a>
                    </li>
                    <li>
                        <a href="#"><span class="text-white fa fa-paper-plane mr-3"></span> Contacts</a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <div id="content" class="container-fluid pl-4 pt-5">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Page Content  -->
    </div>
    
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/jquery.bootstrap.modal.forms.js" %}"></script>
    <script src="{% static "js/autocomplete.js" %}"></script>
    <script src="{% static "js/filterAutocomplete.js" %}"></script>
    <script src="{% static "js/RelatedUserStories.js" %}"></script>
    <script src="{% static "js/editUserStory.js" %}"></script>
    <script src="{% static "js/editUserStoryVersion.js" %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static "js/jquery.bootstrap.modal.forms.min.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript">
        </script>
    <script>
        if($('form').attr('method') == "post"){
            $('body').css('overflow-x', 'hidden');
        }
        $('#example-getting-started').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" style="width: 15rem;" class="multiselect dropdown-toggle form-control" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        $('#example-getting-started1').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" style="width: 15rem;" class="multiselect dropdown-toggle form-control" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        $('#example-getting-started2').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" style="width: 15rem;" class="multiselect dropdown-toggle form-control" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        $('#example-getting-started3').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" style="width: 13rem;" class="multiselect dropdown-toggle form-control" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        $('#example-getting-started4').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" style="width: 17rem;" class="multiselect dropdown-toggle form-control" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        $('#example-getting-started5').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button"  class="multiselect dropdown-toggle form-control w-100" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
        function remove(e) {
            e.parentNode.remove();
        }

        function removeRow(e){
            var id = e.id;
            $.ajax({
                url: "http://127.0.0.1:8000/Apis/removeUserStory/" + id + "",
                type: "get", //send it through get method

                success: function (response) {
                    $(e).closest('tr').fadeOut('slow');
                },
                error: function (xhr) {
                    alert("Error happenedy");
                    //Do Something to handle error
                }
            });
        }

        $(".AddRaids").on('click', function (e) {
            var currentValue = $(".Raids").val()
            if(currentValue){
                $(".Raids").val("")
                var form = $('<div class="w-100 form-group row"></div>')
                $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="RAIDS" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                form.prependTo($('.RAIDSDiv'));
                //$('<input type="text" class="form-control Raids col-10" name="RAIDS" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="R.A.I.DS">').prependTo($('<div class="w-100 form-group row"><i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"></i></div>').prependTo($('<div style="width:100%;" class="row"></div>').prependTo($('.RAIDSDiv'))));
            //elem.val(elem.val() + 'add this');
            }
            else if (Array.from(e.target.classList).includes('details')){
                $(".Raids").val("")
                var form = $('<div class="w-100 form-group row"></div>')
                $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                $('<div class="col-10 m-0 p-0"><textarea type="text" onchange="addRaids(event, this)" class="form-control bg-gray h-4rem"  name="RAIDS" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                form.appendTo($('.RAIDSDiv'));
            }
        });
        $(".AddDev").on('click', function (e) {
            var currentValue = $(".Dev").val()
            if(currentValue){
                $(".Dev").val("")
                var form = $('<div class="w-100 form-group row"></div>')
                $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="Dev" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                form.prependTo($(this).prev());
                //$('<input type="text" class="form-control col-10" name="Dev" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dev Tasks">').prependTo($('<div class="w-100 form-group row"><i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i></div>').prependTo($('<div style="width:100%;" class="row"></div>').prependTo($('.DKDiv'))));
                //elem.val(elem.val() + 'add this');
            }
            else if (Array.from(e.target.classList).includes('details')) {
                $(".Dev").val("")
                var form = $('<div class="w-100 form-group row"></div>')
                $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                $('<div class="col-10 m-0 p-0"><textarea type="text" onchange="addDevTask(event, this)" class="form-control bg-gray h-4rem" name="Dev" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                form.appendTo($(this).prev());
            }
        });
        $(".AddPersona").on('click', function (e) {
                var currentValue = $(".Persona").val()
                if(currentValue){
                    $(".Persona").val("")
                    var form = $('<div class=" form-group row"></div>')
                    $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                    $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="Persona" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                    form.prependTo($('.PersonDiv'));
                    //$('<input type="text" class="form-control col-10" name="Persona" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">').prependTo($('<div class="w-100 form-group row"><i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i></div>').prependTo($('<div style="width:100%;" class="row"></div>').prependTo($('.PersonDiv'))));
                //elem.val(elem.val() + 'add this');
                }
                else if(Array.from(e.target.classList).includes('details')){
                    $(".Persona").val("")
                    var form = $('<div class=" form-group row"></div>')
                    $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                    $('<div class="col-10 m-0 p-0"><textarea type="text" onchange="addPersona(event, this)" class="form-control updatePersona bg-gray h-4rem" data-id="0"  name="Persona" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                    form.appendTo($(this).prev());
                }
            });
        $(".AddEstimates").on('click', function (e) {
                var currentValue = $(".Estimates").val()
                $(".Estimates").val("")
                //elem.val(elem.val() + 'add this');
            });
        // $('input').change(function (e) {

        //         console.log("dv");
        //         document.getElementById("form").submit();
        //     });
        $(".Persona").keyup(function (e) {
            var key = e.charCode || e.keyCode || 0;
            if (key == 13)
            {
                var currentValue = $(".Persona").val()
                if(currentValue){
                    $(".Persona").val("")
                    var form = $('<div class=" form-group row"></div>')
                    $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                    $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="Persona" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                    form.prependTo($('.PersonDiv'));
                    //$('<div class="col-10 m-0 p-0"><input type="text" class="form-control col-10" name="Persona" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona"></div>').prependTo($('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo($('<div class="form-group row"></div>').prependTo($('.PersonDiv'))));
                }
            }
        });

        $(".Dev").keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                if (key == 13) {
                    var currentValue = $(".Dev").val()
                    if(currentValue){
                        $(".Dev").val("")
                        var form = $('<div class="w-100 form-group row"></div>')
                        $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                        $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="Dev" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                        form.prependTo($('.DKDiv'));
                        //$('<input type="text" class="form-control col-10" name="Dev" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dev Tasks">').prependTo($('<div class="w-100 form-group row"><i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i></div>').prependTo($('<div style="width:100%;" class="row"></div>').prependTo($('.DKDiv'))));
                        
                    }
                }
        });

        $(".Raids").keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                if (key == 13) {
                    var currentValue = $(".Raids").val()
                    if(currentValue){
                        console.log(currentValue);
                        $(".Raids").val("")
                        var form = $('<div class="w-100 form-group row"></div>')
                        $('<i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"</i>').prependTo(form);
                        $('<div class="col-10 m-0 p-0"><textarea type="text" class="form-control" style="height: 38px !important;" name="RAIDS" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Persona">' + currentValue + '</textarea></div>').prependTo(form);
                        form.prependTo($('.RAIDSDiv'));
                        //$('<input type="text" class="form-control Raids col-10" name="RAIDS" value="' + currentValue + '" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="R.A.I.DS">').prependTo($('<div class="w-100 form-group row"><i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;"></i></div>').prependTo($('<div style="width:100%;" class="row"></div>').prependTo($('.RAIDSDiv'))));
                        
                    }
                }
        });


        function TotalEstimates(e){
            var currentTotal = $('p#t' + e.target.id + '').attr('data');
            console.log(currentTotal);
            var total = Number(e.target.value) + Number(currentTotal);
            $('p#t' + e.target.id + '').children('span').text(total);
        }

        function UpdateTotalEstimates(e) {
            var total = 0;
            $('.estimate').each(function(i,obj){
                if(e.target.id == obj.id){
                   total = total + Number(obj.value); 
                }
            });
            $('p#t' + e.target.id + '').children('span').text(total);
        }
        
        $('.filter').change(function(){
            $('form').submit();
        });

        $('.filter').keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            console.log(key);
            if (key == 13) {
                $('form').submit();
            }
        });

        $("input").keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                if (key == 13) {
                    e.preventDefault();
                }
        });
        $("textarea").keyup(function (e) {
                var key = e.charCode || e.keyCode || 0;
                if (key == 13) {
                    e.preventDefault();
                    if (!$("#" + this.id + "").val()) {
                        this.style.height = 'auto';
                    }
                    else {
                        $("#" + this.id + "").css("cssText", "height: " + this.scrollHeight + "px !important;");
                    }
                }
                else{
                    if(!$("#" + this.id + "").val()){
                        this.style.height = 'auto';
                    }
                    else{
                        $("#" + this.id + "").css("cssText", "height: " + this.scrollHeight + "px !important;");
                    }
                }
        });
        $('textarea').each(function(e, obj){
            console.log($(obj));
            if (!obj.value) {
                this.style.height = 'auto';
            }
            else {
                $(obj).css("cssText", "height: " + this.scrollHeight + "px !important;");
            }
        })
        $('.Removefilter').on('click',async function(e){
            $(this).parent('div').fadeOut('slow');
            $(this).parent('div').remove();
            setTimeout(function () {
                $('form').submit();
            }, 800);
        });

        var keys = {};

        $('body').keydown(function (e) {
            keys[e.which] = true;
            console.log(keys);
            if(keys[13] && keys[17]){
                if ($('form')) {
                    $('form').submit();
                }
            }
            if (keys[13] && keys[16]) {
                if ($('form')) {
                    var status = document.getElementById("status");
                    status.checked = true;
                    $('form').submit();
                }
            }
        });

        $('body').keyup(function (e) {
            delete keys[e.which];
        });

        $(".AddUserStory").on('click', function (e) {
                var status = document.getElementById("status");
                status.checked  = true;
                $('.submit').trigger('click');
            });
        $(".group").on('click', function (e) {
            console.log("dc");
                var name = $(".groupName").attr("data-original-title");
                $(".groupField").val(name);
                $('form').submit();
        });
        $('.business').change(function () {
            var projects = JSON.parse('{{project|safe}}');
            console.log(projects);
            $(".projectOption").remove();
            projects.forEach(project => {
                if (project['business'] == $(".business").val()){
                    $('.project').append($('<option class="projectOption" value=' + project['id'] + '>' + project['name'] + '</option>'));
                }
            });
        });
        estimateList =[]
        var platfrom = ""
        $('.platform').change(function () {
            if($('#userStoryDetailsHeader').length){
                var list = $(".platform").val();
                if ($('.estimate').length) {
                    for (var i = 0; i < $('.estimate').length; i++) {
                        var estimate = document.getElementsByClassName('estimate')[i];
                        var id = estimate.id;
                        if (!list.includes(estimate.id)) {
                            estimate.parentNode.remove();
                            if (!$('#' + id + '').length) {
                                $('div#t' + id + '').remove();
                            }
                        }
                    }
                }
                var index = 0;
                list.forEach(i => {
                    var currentPlatform = $('.platform option:selected').text();
                    var currentId = $('.platform option:selected').val();
                    platfrom = currentPlatform.split(',');
                    console.log(platfrom[index]);
                    if (!estimateList.includes(i) && platfrom[index] && !$(".estimate#" + list[index] + "").length) {
                        
                        $('#userStoryDetailsHeader').append($('<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">' + platfrom[index] + '</th>'));
                        $('.userStoryDetailsBody').append($('<td class=""><div class="form-group row lessWidth text-center" id ="nodejsreactjs"><input type="number" onchange="addEstimate(event,this)" id="' + i + '" class="form-control estimate bg-gray m-auto col-8" required name="estimate[]" placeholder="' + platfrom[index] + '" aria-describedby="emailHelp"></div></td>'))
                        // var divWithId = $('div#t' + i + '');
                        // if (!divWithId.length) {
                        //     $('.TotalEstimates').append($('<div class="mr-5" id="t' + i + '"><h6>' + platfrom[index] + '</h6><p id="t' + i + '" data="0"><span></span></p></div>'));
                        // }
                    }
                    index++;
                });
            }
            else{
                var list = $(".platform").val();
                if ($('.estimate').length) {
                    console.log($("#" + platfrom[index] + "").length)
                    for (var i = 0; i < $('.estimate').length; i++) {
                        var estimate = document.getElementsByClassName('estimate')[i];
                        var id = estimate.id;
                        if (!list.includes(estimate.id)) {
                            estimate.parentNode.remove();
                            if (!$('#' + id + '').length) {
                                $('div#t' + id + '').remove();
                            }
                        }
                    }
                }
                var index = 0;
                list.forEach(i => {
                    var currentPlatform = $('.platform option:selected').text();
                    var currentId = $('.platform option:selected').val();
                    platfrom = currentPlatform.split(',');
                    if (!estimateList.includes(i) && platfrom[index] && !$(".estimate#" + list[index] + "").length) {
                        $('.estimateDiv').append($('<div class="col-6 form-group" id="' + platfrom[index] + '"><label for="exampleInputEmail1">' + platfrom[index] + '</label><input type="number" id="' + i + '" onkeyup="TotalEstimates(event)" class="form-control estimate" required name="estimate[]" placeholder="' + platfrom[index] + '" aria-describedby="emailHelp"></div>'));
                        var divWithId = $('div#t' + i + '');
                        if (!divWithId.length) {
                            $('.TotalEstimates').append($('<div class="mr-5" id="t' + i + '"><h6>' + platfrom[index] + '</h6><p id="t' + i + '" data="0"><span></span></p></div>'));
                        }
                    }
                    index++;
                });
            }
            estimateList = list;
        });
        
        $('.selectPriority').change(function () {
            var selectedPlatforms = JSON.parse('{{jsonSelectedPlatforms|safe}}');
            var list = $(this).val();
            var table = $('.sumEstimatesTable');
            table.empty();
            console.log(list);
            for(var i = 0 ;i< selectedPlatforms.length;i++){
                var total = 0;
                var name = selectedPlatforms[i].name
                for (var index = 0; index < selectedPlatforms[i].priority.length; index++) {
                    if(list.includes(selectedPlatforms[i].priority[index].name))
                    {
                        total = total + selectedPlatforms[i].priority[index].estimate;
                    }
                }
                console.log(name);
                console.log(total);
                table.append($('<tr><td>'+ name +'</td><td>'+ total +'</td></tr>'));
            }
        });
        $('.RemoveUserStory').on('click',function(e){
            var element = $(this)
            $.ajax({
                url: "http://127.0.0.1:8000/Apis/removeUserStory/"+ this.id +"",
                type: "get", //send it through get method
                
                success: function (response) {
                    $('#userStory-link').click();
                },
                error: function (xhr) {
                    alert("Error happenedy");
                    //Do Something to handle error
                }
            });
        });
        $('.delUserStory').on('click', function (e) {
            var element = $(this).closest('.parent');
            console.log(element);
            $.ajax({
                url: "http://127.0.0.1:8000/Apis/removeUserStory/" + this.id + "",
                type: "get", //send it through get method

                success: function (response) {
                    element.fadeOut('slow');
                },
                error: function (xhr) {
                    alert("Error happenedy");
                    //Do Something to handle error
                }
            });
            });
        $('[data-toggle="tooltip"]').tooltip();
        if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        function showmenu(e) {
                e.target.nextElementSibling.classList.toggle("show");
            }
        $('#edit').on('click',function(e){
            console.log(e.target.tagName);
            $('.EditState').removeClass('d-none');
            $('.ReadState').addClass('d-none'); 
            $('textarea').css('height','auto');
            
        });
        $('#read').on('click',function(e){
            $('.ReadState').removeClass('d-none');
            $('.EditState').addClass('d-none'); 
        });
        $('#submit').on('click',function(){
            $('form').submit();
        })
        function edit(e){
            console.log($('#' + e.target.id + '.EditState').attr('class'));
            $('#'+ e.target.id +'.EditState').removeClass('d-none');
            $('#' + e.target.id +'.ReadState').addClass('d-none');
            $('textarea').css('height', 'auto');
        }
        function read(e){
            $('#' + e.target.id + '.ReadState').removeClass('d-none');
            $('#' + e.target.id + '.EditState').addClass('d-none'); 
        }
        function RemoveNewUserStory(e){
            $('.newUserStory').addClass('d-none');
        }
        $('#addUserStory').on('click',function(e){
            var userStoryVersionId = $(this).attr('data-id');
            $.ajax({
                url: "" + window.location.origin + "/Apis/addUserStory/" + userStoryVersionId + "",
                type: "GET", //send it through get method
                contentType: 'application/json',
                success: function (response) {
                    console.log(response)
                    $('.newUserStory').attr("id", response['id']);
                    $('.newUserStory').removeClass('d-none');
                },
                error: function (xhr) {
                    alert("Error happenedy");
                    //Do Something to handle error
                }
            });
            
        });
        window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementById("myDropdown");
                    if(dropdowns){
                        if (dropdowns.classList.contains('show')) {
                            console.log(dropdowns);
                            dropdowns.classList.remove('show');
                        }
                    }
                    // for (i = 0; i < dropdowns.length; i++) {
                    //     var openDropdown = dropdowns[i];
                    //     if (openDropdown.classList.contains('show')) {
                    //         openDropdown.classList.remove('show');
                    //     }
                    // }
                }
            }  // Close the dropdown if the user clicks outside of 
        
        try
        {
            var persona = '{{personaObjects|safe}}'.replace(/\n/g, "\\n")
            var epic = '{{epicObjects|safe}}'.replace(/\n/g, "\\n")
            if (JSON.parse(persona)) {
                var personaObjects = JSON.parse(persona);
                var objects = [];
                personaObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                autocomplete(document.getElementById("personaInput"), objects);
            }
            if (JSON.parse(epic)) {
                var epicObjects = JSON.parse(epic);
                var objects = [];
                epicObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                autocomplete(document.getElementById("epicInputDetails"), objects);
            }
            
        }
         catch (err) {
        }
        try 
        {
            var persona = '{{personaObjects|safe}}'.replace(/\n/g, "\\n")
            if (JSON.parse(persona)) {
                var personaObjects = JSON.parse(persona);
                var objects = [];
                personaObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                autocomplete(document.getElementById("myInput"), objects);
            }
            if (JSON.parse('{{epicObjects|safe}}')) {
                var epicObjects = JSON.parse('{{epicObjects|safe}}');
                var objects = [];
                epicObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                autocomplete(document.getElementById("epicInput"), objects);
            }
            // if (JSON.parse('{{iWantTOObjects|safe}}')) {
            //     var epicObjects = JSON.parse('{{iWantTOObjects|safe}}');
            //     filterAutocomplete(document.getElementById("id_iWantTO"), epicObjects);
            // }
            // if (JSON.parse('{{epicObjects|safe}}')) {
            //     var epicObjects = JSON.parse('{{epicObjects|safe}}');
            //     filterAutocomplete(document.getElementById("epicFilter"), epicObjects);
            // }
        }
        catch (err) {
        }
        try{
            var persona = '{{personaObjects|safe}}'.replace(/\n/g, "\\n")
            if (JSON.parse(persona)) {
                var personaObjects = JSON.parse(persona);
                var objects = [];
                personaObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("personaInputfilter"), objects);
            }
            if (JSON.parse('{{iWantTOObjects|safe}}')) {
                var iWantTOObjects = JSON.parse('{{iWantTOObjects|safe}}');
                var objects = [];
                iWantTOObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("iWantToInput"), objects);
            }
            if (JSON.parse('{{soThatObjects|safe}}')) {
                var soThatObjects = JSON.parse('{{soThatObjects|safe}}');
                var objects = [];
                soThatObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("soThatInput"), objects);
            }
            console.log(JSON.parse('["dcfvd", "abdooooahmed7@gmail.com", "abdooooahmed7@gmail.com", "abdooooahmed7@gmail.com", "sdcdsc", "", "fdvf", "", "scdsc", "", "fgbgfb", "", "dfvfdf", "", "wede", "", "dfvfvf", "", "fvfdvf",  "dfvfv", "", "dfvfdv", "", "fvfdvf",  "fdfvfd",  "fvfdf",  "dc",  "csddc",  "scdscds",  "dfv",  "scdc",  "scsdcds",  "dcds", "fvdv", "sdcd", "sdsdcss", "sdscd", "fvdf", "login", "fggbf", "cdsssdcddccdc", "sdcdsd"]'))
            if (JSON.parse('{{devTasksObjects|safe}}')) {
                var devTasksObjects = JSON.parse('{{devTasksObjects|safe}}');
                var objects = [];
                devTasksObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("devTaskInput"), objects);
            }
            if (JSON.parse('{{RAIDSObjects|safe}}')) {
                var RAIDSObjects = JSON.parse('{{RAIDSObjects|safe}}');
                var objects = [];
                RAIDSObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("RAIDSInput"), objects);
            }
            if (JSON.parse('{{epicObjects|safe}}')) {
                var epicObjects = JSON.parse('{{epicObjects|safe}}');
                var objects = [];
                epicObjects.forEach(element => {
                    if (!objects.includes(element)) {
                        objects.push(element);
                    }
                });
                filterAutocomplete(document.getElementById("epicInputfilter"), objects);
            }
        }
        catch (err) {
        }

        try {
                if (JSON.parse('{{projectObject|safe}}')) {
                    var projectObject = JSON.parse('{{projectObject|safe}}');
                    var objects = [];
                    projectObject.forEach(element => {
                        if (!objects.includes(element)) {
                            objects.push(element);
                        }
                    });
                    filterAutocomplete(document.getElementById("projectInput"), objects);
                }
                if (JSON.parse('{{businessObject|safe}}')) {
                    var businessObject = JSON.parse('{{businessObject|safe}}');
                    var objects = [];
                    businessObject.forEach(element => {
                        if (!objects.includes(element)) {
                            objects.push(element);
                        }
                    });
                    filterAutocomplete(document.getElementById("businessInput"), objects);
                }
                if (JSON.parse('{{nameObject|safe}}')) {
                    var nameObject = JSON.parse('{{nameObject|safe}}');
                    var objects = [];
                    nameObject.forEach(element => {
                        if (!objects.includes(element)) {
                            objects.push(element);
                        }
                    });
                    filterAutocomplete(document.getElementById("nameInput"), objects);
                }
            }
            catch (err) {
            }
    </script>
</body>
    
</html>