{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block project %}{{project}}{% endblock %}
{% block content %}
<div>
    <h1 class="m-auto">Add UserStory Version</h1>
</div>
<form method="post" id="form" style="height: 100%;">
    {% csrf_token %}
    <div class="row" style="width:100% ;">
        <div class="col-3">
            <div class="form-group mb-0">
                <label for="exampleInputEmail1">business</label>
                <select class="form-control form-select business" required name="business" style="display:block ;"
                    aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    {% for p in business %}
                    <option value="{{p.id}}">{{p.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Project</label>
                <select class="form-control form-select project" required name="project" style="display:block ;"
                    aria-label="Default select example">
                    <option value="">Open this select menu</option>
                    {% for p in persona %}
                    {% if p == userStoryVersion.Project %}
                    <option class="projectOption" value="{{p.id}}" selected>{{p.name}}</option>
                    {% else %}
                    <option class="projectOption" value="{{p.id}}">{{p.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Version Name</label>
                <input type="text" name="VersionName" required value="{{userStoryVersion.name}}" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Version Description</label>
                <input type="text" name="VersionDescription" required value="{{userStoryVersion.description}}" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Description">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" name="VersionName" disabled value="{{userName}}" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" style="display: block;width: 100%;">PlatForm</label>
                <select id="example-getting-started3" name="platforms" style="width: 100%;" class="form-control form-select platform" multiple="multiple">
                    {% for p in platforms %}
                    {% if p.id in platformIds %}
                    <option class="projectOption" value="{{p.id}}" selected>{{p.name}}</option>
                    {% else %}
                    <option class="projectOption" value="{{p.id}}">{{p.name}},</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button type="button" class="col-2 btn btn-success fa fa-plus " data-toggle="modal" data-target="#modalLoginForm">
                </button>
                <!-- <select class="form-control form-select" required name="platform" style="display:block ;"
                                            aria-label="Default select example">
                                            
                                        </select> -->
            </div>
        </div>
        
    </div>
    <div>
        {% for u in userStories %}
        <div class="row no-gutters parent" id="UserStory" style="width:100% ;">
            <div class="col-2" style="height: 100%;">
                <div class="row m-0" style="width:100% ;">
                    <div class="dropdown col-2">
                        <button class="btn btn-transparent text-success p-0 show dropbtn fa fa-ellipsis-v"
                            onclick="showmenu(event)" type="button" data-toggle="dropdown">
                            <span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-conten" aria-labelledby="dropdownMenuButton" id="myDropdown">
                            <a href="{% url 'userStoryDetails' u.id %}" class="dropdown-item"" aria-hidden="true">
                                Details
                            </a>
                            <a href="#" class="dropdown-item delUserStory" id="{{u.id}}" aria-hidden=" true">
                                Remove
                            </a>
                        </div>
                    </div>
                    <div class="col-10 m-0 p-0">
                        <label for="exampleInputEmail1">Persona</label>
                        {% for d in u.Persona.all %}
                        <input type="text" class="form-control" disabled value="{{d.Name}}" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group col-1">
                <label for="exampleInputEmail1">Epic</label>
                <input type="text" disabled value="{{u.Epic.versionName}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Epic">
            </div>
            <div class="form-group col-1">
                <label for="exampleInputEmail1">IWantTO</label>
                <input type="text" disabled value="{{u.iWantTO}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="IWantTO">
            </div>
            <div class="form-group col-1">
                <label for="exampleInputEmail1">SoThat</label>
                <input type="text" disabled value="{{u.soThat}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="SoThat">
            </div>
            <div class="col-2">
                <label for="exampleInputEmail1">Dev Tasks</label>
                {% for d in u.DevelopmentTask.all %}
                <input type="text" class="form-control" disabled value="{{d.description}}" id="exampleInputEmail1" aria-describedby="emailHelp">
                {% endfor %}
            </div>
            <div class="col-2" style="height: 100%;">
                <label for="exampleInputEmail1">R.A.I.DS</label>
                {% for d in u.RAIDS.all %}
                <input type="text" class="form-control" disabled value="{{d.description}}" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                {% endfor %}
            </div>
            <div class="form-group col-1">
                <div class="row">
                    <label for="exampleInputEmail1">Priority</label>
                    <input type="text" disabled value="{{u.priority}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Priority">
                </div>
            </div>
            <div class="form-group col-2" style="padding-left: 1.2rem;">
                <label for="exampleInputEmail1">Estimate</label>
                <div style="width: 100%;" class="estimateDiv row pl-2">
                    {% for e in u.Estimates.all %}
                    <input type="number" id="' + i + '" disabled class="form-control estimate col-6" value="{{e.noOfHours}}"
                        aria-describedby="emailHelp">
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row no-gutters" id="UserStory" style="width:100% ;">
            <div class="col-2 pl-5" style="height: 100%;">
                <div style="width:100% ;" class="row">
                    <div class="form-group col-10 mb-0">
                        <label for="exampleInputEmail1">Persona</label>
                    </div>
                </div>
                <div class="PersonDiv">
            
                </div>
                <div style="width:100% ;" class="row">
                    <div class="form-group row">
                        <div class="col-10 m-0 p-0">
                            <input type="text" list="personList" style="display: inline;" class="form-control Persona" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Persona">
                            <datalist id="personList">
                                {% for u in userStoriesObject %}
                                {% for p in u.Persona.all %}
                                <option value="{{p.Name}}">{{p.Name}}</option>
                                {% endfor %}
                                {% endfor %}
                            </datalist>
                        </div>
                        <i class="col-2 m-auto btn btn-success fa fa-plus AddPersona"
                                style="display: flex;justify-content: center;align-items: center;"></i>
                    </div>
                </div>
                <textarea type="text" name="Persona" class="form-control mt-2  PersonaArea" cols="250"
                    style="height: auto !important; display: none;"></textarea>
            </div>
            <div class="form-group col-1 m-0" style="margin: 0;">
                <label for="exampleInputEmail1">Epic</label>
                <input type="text" list="encodings" name="Epic" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Epic">
                <datalist id="encodings">
                    {% for u in userStoriesObject %}
                    <option value="{{u.Epic.versionName}}">{{u.Epic.versionName}}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group col-1">
                <label for="exampleInputEmail1">IWantTO</label>
                <input type="text" name="IWantTO" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="IWantTO">
            </div>
            <div class="form-group col-1">
                <label for="exampleInputEmail1">SoThat</label>
                <input type="text" name="SoThat" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="SoThat">
            </div>
            <div class="col-2" style="padding-left: 1.8rem;">
                <div style="width:100% ;" class="row">
                    <div class="form-group col-10 mb-0">
                        <label for="exampleInputEmail1">Dev Tasks</label>
                    </div>
                </div>
                <div class="DKDiv">
            
                </div>
                <div style="width:100% ;" class="row">
                    <div class="form-group row">
                        <input type="text" class="form-control Dev col-10" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Dev Tasks">
                        <i class="col-2 m-auto btn btn-success fa fa-plus AddDev"
                            style="display: flex;justify-content: center;align-items: center;"></i>
                    </div>
                </div>
                <textarea type="text" name="Dev" class="form-control mt-2  DevArea" cols="250"
                    style="height: auto !important;display: none;"></textarea>
            </div>
            <div class="col-2" style="padding-left: 1.8rem;">
                <div style="width:100% ;" class="row">
                    <div class="form-group col-10 mb-0">
                        <label for="exampleInputEmail1">R.A.I.DS</label>
                    </div>
                </div>
                <div class="RAIDSDiv">
                
                </div>
                <div style="width:100% ;" class="row">
                    <div class="form-group row">
                        <input type="text" class="form-control Raids col-10" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="R.A.I.DS">
                        <i class="col-2 m-auto btn btn-success fa fa-plus AddRaids"
                                style="display: flex;justify-content: center;align-items: center;"></i>
                    </div>
                </div>
                <textarea type="text" name="RAIDS" class="form-control mt-2 RaidsArea" cols="250"
                    style="height: auto !important; display: none;"></textarea>
            </div>
            <div class="form-group col-1" style="padding-left: .9rem;">
                <div class="row">
                    <label for="exampleInputEmail1">Priority</label>
                    <input type="text" name="Priority" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Priority">
                    <input type="checkbox" name="AddAnother" id="status" style="display: none;">
                </div>
            </div>
            <div class="form-group col-2" style="padding-left: 1.2rem;">
                <label for="exampleInputEmail1">Estimate</label>
                <div style="width: 100%;" class="estimateDiv row pl-2">
                    {% for e in platformIds %}
                    <input type="number" id="{{e}}" class="form-control estimate col-6" 
                        aria-describedby="emailHelp">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="col-2 btn btn-success AddUserStory">add another
            UserStory</button>
        <button type="submit" class="col-1 btn btn-success submit">Submit</button>
    </div>
    <!-- <div class="form-group">
        <label for="exampleInputEmail1">US_Group</label>
        <input type="text" name="US_Group" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="US_Group">
    </div> -->
    <!-- <div style="width:100% ;" class="row">
        <div class="form-group col-10">
            <label for="exampleInputEmail1">Estimates</label>
            <input type="text" class="form-control Estimates" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Estimates">
        </div>
        <div class="col-2 text-center">
            <button type="button" class="btn btn-success AddEstimates" style="margin-top:2rem ;">add another</button>
        </div>
    </div>
    <div class="form-group">
        <textarea type="text" name="Estimates" class="form-control mt-2 h-25 EstimatesArea" cols="10"></textarea>
    </div> -->
</form>
<div>
    <form method="get">
        {% csrf_token %}
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Add Platform</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="form-group ">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" name="Name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Name">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" value="submit" name="Platform"
                            class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="text-center">
                        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
                            Modal Login Form</a>
                    </div> -->
    </form>
</div>
{% endblock %}