{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% block content %}
<div class="mb-5">
    <h1 class="m-auto">User Story Version Details</h1>
</div>
<div class="mb-5">
    <div class="row ">
        <button type="submit" class="col-1 ml-5 mr-5 btn btn-success">Save</button>
        
        
    </div>
</div>
<div class="row mb-5" style="width:100% ;">
    <div class="col-3">
        <div class="form-group mb-0">
            <label for="exampleInputEmail1">business</label>
            <select class="form-control form-select business" name="business" style="display:block ;"
                aria-label="Default select example">
                <option selected>Open this select menu</option>
                {% for p in business %}
                <option value="{{p.id}}">{{p.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Project</label>
            <select class="form-control form-select project" name="project" style="display:block ;"
                aria-label="Default select example">
                <option value="0" selected>Open this select menu</option>
                {% for p in persona %}
                {% if p == userStoriesVersion.Project %}
                <option class="projectOption" value="{{p.id}}" selected>{{p.name}}</option>
                {% else %}
                <option class="projectOption" value="{{p.id}}">{{p.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Version Name</label>
            <input type="text" name="VersionName" value="{{userStoriesVersion.name}}" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Version Description</label>
            <input type="text" name="VersionDescription" value="{{userStoriesVersion.description}}" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Description">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" name="VersionName" disabled value="{{userStoriesVersion.User.username}}" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="display: block;width: 100%;">PlatForm</label>
            <select id="example-getting-started3" name="platforms" style="width: 100%;"
                class="form-control form-select platform" multiple="multiple">
                {% for p in platforms %}
                {% if p.id in platformIds %}
                <option value="{{p.id}}" selected>{{p.name}},</option>
                {% else %}
                <option value="{{p.id}}">{{p.name}},</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="col-2 btn btn-success fa fa-plus " data-toggle="modal"
                data-target="#modalLoginForm">
            </button>
            <!-- <select class="form-control form-select" required name="platform" style="display:block ;"
                                                        aria-label="Default select example">
                                                        
                                                    </select> -->
        </div>
    </div>
</div>
<h2>User Story</h2>
<div class=" testimonial-group table-responsive p-0 mb-5" style="max-width: 79rem;" id="UserStory">
    
    <table class="table align-items-center mb-0">
        <thead>
            <tr id="userStoryDetailsHeader">  
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Persona</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Epic
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">I Want TO</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">So That</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Acceptance Criteria</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RAIDS</th>
                {% for e in selectedPlatforms %}
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{e.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for userStory in userStories %}
            <tr class="ReadState" style="border-bottom:2px solid #dee2e6 ;" id="{{userStory.id}}">
                <form id="form" method="post" name="filter" autocomplete="off">
                    <td class="">
                        <div class="row editmenu">
                            <div class="dropdown col-1">
                                <button class="btn btn-transparent text-success p-0 show dropbtn fa fa-ellipsis-v" onclick="showmenu(event)"
                                    type="button" data-toggle="dropdown">
                                    <span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-conten"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 27px, 0px);"
                                    aria-labelledby="dropdownMenuButton" id="myDropdown">
                                    <button id="{{userStory.id}}" type="button" onclick="edit(event)"" class="dropdown-item" aria-hidden=" true">
                                        Edit
                                    </button>
                                    <button type="button" class="dropdown-item delUserStory" id="{{u.id}}" aria-hidden=" true">
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <div class="form-group pl-5" style="height: 100%;min-width: 15rem;">
                                <div style="width: 100%;" class="row PersonDiv">
                                    {% for Persona in userStory.Persona.all %}
                                    <div class="form-group row">
                                        <div class="col-12 m-0 p-0">
                                            <textarea type="text" id="myInput" name="Persona" list="personList" style="display: inline;"
                                                class="form-control bg-gray h-4rem" id="myInput" aria-describedby="emailHelp"
                                                placeholder="Persona">{{Persona.Name}}</textarea>
                                        </div>
                            
                                    </div>
                                    {% endfor %}
                                </div>
                            
                            </div>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group m-0" style="margin: 0;min-width: 15rem;">
                            <textarea type="text" id="epicInput" list="encodings" name="Epic"
                                class="form-control input bg-gray h-4rem" id="epicInput" aria-describedby="emailHelp"
                                placeholder="Epic">{{userStory.Epic.versionName}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="IWantTO" name="IWantTO" class="form-control bg-gray h-4rem"
                                id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="IWantTO">{{userStory.iWantTO}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="SoThat" name="SoThat" class="form-control bg-gray h-4rem"
                                id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="SoThat">{{userStory.soThat}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row DKDiv twiceWidth">
                                {% for DevelopmentTask in userStory.DevelopmentTask.all %}
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="DevTasks" class="form-control col-12 bg-gray h-4rem" name="Dev"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="User Acceptance Criteria">{{DevelopmentTask.description}}</textarea>
                                    </div>
            
                                </div>
                                {% endfor %}
                            </div>
            
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row RAIDSDiv twiceWidth">
                                {% for RAIDS in userStory.RAIDS.all %}
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="R.A.I.DS" class="form-control col-12 bg-gray h-4rem" name="RAIDS"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="R.A.I.DS">{{RAIDS.description}}</textarea>
                                    </div>
            
                                </div>
                                {% endfor %}
                            </div>
            
                        </div>
                    </td>
            
                    {% for e in userStory.Estimates.all %}
                    <td class="">
                        <div class=" form-group row lessWidth text-center" style="height: 100%;">
                            <input type="number" id="{{e.Platform.id}}" class="form-control estimate bg-gray m-auto col-8"
                                value="{{e.noOfHours}}" required="" name="estimate[]" placeholder="{{e.Platform.name}}"
                                aria-describedby="emailHelp">
                        </div>
                    </td>
                    {% endfor %}
                    <td>
            
                    </td>
                </form>
            </tr>
            <tr id="{{userStory.id}}" style="border-bottom:2px solid #dee2e6 ;" class="EditState d-none userStoryDetailsBody">
                <form id="form" method="post" name="filter" autocomplete="off">
                    <td class="">
                        <div class="row editmenu">
                        <div class="dropdown col-1">
                            <button class="btn btn-transparent text-success p-0 show dropbtn fa fa-ellipsis-v" onclick="showmenu(event)"
                                type="button" data-toggle="dropdown">
                                <span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-conten"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 27px, 0px);"
                                aria-labelledby="dropdownMenuButton" id="myDropdown">
                                <button id="{{userStory.id}}" type="button" onclick="read(event)"" class=" dropdown-item" aria-hidden=" true">
                                    Read
                                </button>
                                <button type="button" class="dropdown-item delUserStory" id="{{u.id}}" aria-hidden=" true">
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="form-group pl-5" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row PersonDiv">
                                {% for Persona in userStory.Persona.all %}
                                <div class="form-group row">
                                    <div class="col-10 m-0 p-0">
                                        <textarea type="text" id="myInput" name="Persona" list="personList" style="display: inline;"
                                            class="form-control h-4rem" id="myInput" aria-describedby="emailHelp"
                                            placeholder="Persona">{{Persona.Name}}</textarea>
                                    </div>
                                    <i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;"> </i>
                                </div>
                                {% endfor %}
                            </div>
                            <div style="width:100% ;" class="row">
                                <div class="form-group row">
                                    <div class="col-12 m-0 p-0">
                                        <textarea type="text" id="myInput" name="Persona" list="personList" style="display: inline;"
                                            class="form-control Persona h-4rem" id="myInput" aria-describedby="emailHelp"
                                            placeholder="Persona"></textarea>
                                    </div>
                                    <p class="m-auto AddPersona"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                        Add Another<i class="ml-1 text-danger fa fa-plus AddPersona"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group m-0" style="margin: 0;min-width: 15rem;">
                            <textarea type="text" id="epicInput" list="encodings" name="Epic" class="form-control input h-4rem"
                                id="epicInput" aria-describedby="emailHelp"
                                placeholder="Epic">{{userStory.Epic.versionName}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="IWantTO" name="IWantTO" class="form-control h-4rem" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="IWantTO">{{userStory.iWantTO}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="SoThat" name="SoThat" class="form-control h-4rem" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="SoThat">{{userStory.soThat}}</textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row DKDiv twiceWidth">
                                {% for DevelopmentTask in userStory.DevelopmentTask.all %}
                                <div class="form-group row twiceWidth">
                                    <div class="col-10 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="DevTasks" class="form-control h-4rem" name="Dev"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Dev Tasks">{{DevelopmentTask.description}}</textarea>
                                    </div>
                                    <i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;"> </i>
                                </div>
                                {% endfor %}
                            </div>
                            <div style="width:100% ;" class="row twiceWidth">
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="DevTasks" class="form-control Dev col-12 h-4rem" name="Dev"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="User Acceptance Criteria"></textarea>
                                        <p class="m-auto AddDev"
                                            style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                    </div>
                                    <p class="m-auto AddDev"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                        Add Another<i class="ml-1 text-danger fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row RAIDSDiv twiceWidth">
                                {% for RAIDS in userStory.RAIDS.all %}
                                <div class="form-group row twiceWidth">
                                    <div class="col-10 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="R.A.I.DS" class="form-control h-4rem" name="RAIDS"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="R.A.I.DS">{{RAIDS.description}}</textarea>
                                    </div>
                                    <i class="col-2 m-auto text-danger fa fa-times" onclick="remove(this)"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;"></i>
                                </div>
                                {% endfor %}
                            </div>
                            <div style="width:100% ;" class="row twiceWidth">
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="R.A.I.DS" class="form-control Raids col-12 h-4rem" name="RAIDS"
                                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="R.A.I.DS"></textarea>
                                        <p class="m-auto AddDev"
                                            style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                    </div>
                                    <p class="m-auto AddRaids"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                        Add Another<i class="ml-1 text-danger fa fa-plus"></i></p>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% for e in userStory.Estimates.all %}
                    <td class="">
                        <div class=" form-group row lessWidth text-center" style="height: 100%;">
                            <input type="number" id="{{e.Platform.id}}" class="form-control estimate m-auto col-8"
                                value="{{e.noOfHours}}" required="" name="estimate[]" placeholder="{{e.Platform.name}}"
                                aria-describedby="emailHelp">
                        </div>
                    </td>
                    {% endfor %}
                    
                </form>
            </tr>
            {% endfor %}
            <tr class="newUserStory d-none">
                <form id="form" method="post" name="newUserStory" autocomplete="off">
                    <td class="">
                        <div class="row editmenu">
                            <div class="dropdown col-1">
                                <button class="btn btn-transparent text-success p-0 show dropbtn fa fa-ellipsis-v" onclick="showmenu(event)"
                                    type="button" data-toggle="dropdown">
                                    <span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-conten"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 27px, 0px);"
                                    aria-labelledby="dropdownMenuButton" id="myDropdown">
                                    <button id="{{userStory.id}}" type="button" onclick="RemoveNewUserStory(event)"" class=" dropdown-item"
                                        aria-hidden=" true">
                                        Remove
                                    </button>
                                    <button type="button" class="dropdown-item delUserStory" id="{{u.id}}" aria-hidden=" true">
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div class="form-group pl-5" style="height: 100%;min-width: 15rem;">
                                <div style="width: 100%;" class="row PersonDiv">
                                    
                                </div>
                                <div style="width:100% ;" class="row">
                                    <div class="form-group row">
                                        <div class="col-12 m-0 p-0">
                                            <textarea type="text" id="myInput" name="Persona" list="personList" style="display: inline;"
                                                class="form-control Persona h-4rem" id="myInput" aria-describedby="emailHelp"
                                                placeholder="Persona"></textarea>
                                        </div>
                                        <p class="m-auto AddPersona"
                                            style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                            Add Another<i class="ml-1 text-danger fa fa-plus AddPersona"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group m-0" style="margin: 0;min-width: 15rem;">
                            <textarea type="text" id="epicInput" list="encodings" name="Epic" class="form-control input h-4rem"
                                id="epicInput" aria-describedby="emailHelp" placeholder="Epic"></textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="IWantTO" name="IWantTO" class="form-control h-4rem" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="IWantTO"></textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group" style="min-width: 15rem;">
                            <textarea type="text" id="SoThat" name="SoThat" class="form-control h-4rem" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="SoThat"></textarea>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row DKDiv twiceWidth">
                                
                            </div>
                            <div style="width:100% ;" class="row twiceWidth">
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="DevTasks" class="form-control Dev col-12 h-4rem" name="Dev"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="User Acceptance Criteria"></textarea>
                                        
                                    </div>
                                    <p class="m-auto AddDev"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                        Add Another<i class="ml-1 text-danger fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="">
                        <div class="form-group pl-5 twiceWidth" style="height: 100%;min-width: 15rem;">
                            <div style="width: 100%;" class="row RAIDSDiv twiceWidth">
                                
                            </div>
                            <div style="width:100% ;" class="row twiceWidth">
                                <div class="form-group row twiceWidth">
                                    <div class="col-12 m-0 p-0 twiceWidth">
                                        <textarea type="text" id="R.A.I.DS" class="form-control Raids col-12 h-4rem" name="RAIDS"
                                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="R.A.I.DS"></textarea>
                                        <p class="m-auto AddDev"
                                            style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                    </div>
                                    <p class="m-auto AddRaids"
                                        style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
                                        Add Another<i class="ml-1 text-danger fa fa-plus"></i></p>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% for e in selectedPlatforms %}
                    <td class="">
                        <div class=" form-group row lessWidth text-center" style="height: 100%;">
                            <input type="number" id="{{e.id}}" class="form-control estimate m-auto col-8"
                                 required="" name="estimate[]" placeholder="{{e.name}}"
                                aria-describedby="emailHelp">
                        </div>
                    </td>
                    {% endfor %}
                
                </form>
            </tr>
        </tbody>


    </table>
</div>
<div class="row">
<div class="col-6">
<button type="button" id="addUserStory" class="col-2 ml-5 mr-5 btn btn-success ">Add User Story</button>
</div>
<table class="col-6 table align-items-center mb-5">
    <thead>
        
        <tr>
            <th>
                Estimate
            </th>
            <th>
                Total
            </th>
            
        </tr>
    </thead>
    <tbody>
        {% for p in selectedPlatforms %}
        <tr>
        <td>
            {{p.name}}
        </td>
        <td>
            {{p.estimate}}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form method="post"></form>
{% endblock %}