{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">FirstName</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.first_name}}" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">LastName</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.lasr_name}}" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">UserName</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.username}}" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.email}}" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Role</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.Role}}" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
</form>
{% endblock %}