{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div>
    <h1 class="m-auto">Add UserStory</h1>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row w-100">
        <div class="col-5">
            {{ form.as_p }}
        </div>
        <div class="col-5">
            {{form2.as_p}}
        </div>
    </div>
    <button type="submit" class="btn btn-success" value="submit">Submit</button>
    <button type="button" class="col-2 btn btn-success" data-toggle="modal" data-target="#modalLoginForm">Add Business Industry
        </button>
</form>
    <div>
        <form method="get">
            {% csrf_token %}
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Business Industry</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="form-group ">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" name="Name" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Name">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button  name="businessIndustry" type="submit" value="submit" name="businessIndustry" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- <div class="text-center">
                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
                    Modal Login Form</a>
            </div> -->
            </form>
    </div>
{% endblock %}